{% extends "SacMnnit/base.html" %}
{% load staticfiles %}

{% block main %}


<!--
==================================================
Slider Section Start
================================================== -->
<section id="hero-area-other" style="background: url({% static 'images/hack36.png' %});">
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="block wow fadeInUp" data-wow-delay=".3s">
                
                <!-- Slider -->
                <section class="cd-intro">
                    <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s" >

                    <span class="">
                        <b class="is-visible"><font size="+8">HACK 36</font></b>

                    </span>
                    </h1>
                    </section> <!-- cd-intro -->
                    <!-- /.slider -->
                    <h2 class="wow fadeInUp animated" data-wow-delay=".6s" >
                     <b>  Annual Hackathon of MNNIT (CSED)</b>
                    </h2>
                    <a class="btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green" data-wow-delay=".9s" href="https://www.hack36.com/" target="_blank" data-section="#works" >Visit Hack 36 Website</a>
                    
                </div>
            </div>
        </div>
    </div>
</section><!--/#main-slider-->
<!--
==================================================
Slider Section Start
================================================== -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                    <h2>
                    ABOUT HACK 36
                    </h2>
                    <p>
                        A 36-hour tryst with gizmos, infused with youthful energy and a relentless drive for development, this is the 3rd edition of the annual Hackathon conducted by MNNIT Allahabad. Hack36 holds in store, challenges expecting to be conquered and solutions awaiting to be uncovered, for all the tech-savvy and geeks, coders and development enthusiasts.
                        So, caffeinate, collaborate, celebrate; work, solve and work harder, reverberating the essence of the hackathon, "Every once in a while, a new technology, an old problem and a big idea turn into an innovation.
                    </p>
                </div>
                
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                    <img src="{% static 'images/hack36.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section> <!-- /#about -->
<!--
==================================================
Portfolio Section Start
================================================== -->
<section id="feature">
    <div class="container">
        <div class="section-heading">
            <h1 class="title wow fadeInDown" data-wow-delay=".3s">Committee Members</h1>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="media-body">
                        <h4 class="media-heading">Dr. Ranvijay</h4>
                        <p>CSED (Faculty Coordinator)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">

                    <div class="media-body">
                        <h4 class="media-heading">Dr. Shashank Srivastava</h4>
                        <p>CSED (Faculty Coordinator)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="media-body">
                        <h4 class="media-heading">Priyanshu Singh</h4>
                        <p>CSED (Student Coordinator)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1200ms">
                    <div class="media-body">
                        <h4 class="media-heading">Surbhit Awasthi</h4>
                        <p>CSED (Student Coordinator)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1500ms">
                    <div class="media-body" style="align:center;">
                        <h4 class="media-heading">Abhishek Kumar Singh</h4>
                        <p>CSED (Student Coordinator)</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section> <!-- /#feature -->
    


{% endblock main %}
